div.dataTables_wrapper div.dataTables_filter input:focus{
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}
.object-fit-contain{
    object-fit: contain !important;
}
img{
    cursor: pointer !important;
}
.dataTables_info{
    text-transform: capitalize !important;
}
td.dataTables_empty{
    text-transform: capitalize !important;
}
